.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 100vh;
    margin: auto;
  }
  nav {
  width: 100%;
  height: 40px;
  background-color:rgb(65, 58, 58);
  user-select: none;;
  font-size: large;
  word-spacing: 30px;
  text-align: center;
  padding-top: 10px;
  }
  a.nav-item {
    color: white;
  }
  header {
    display: flex ;
    width: 100%;
    background-color: black;
    color: white;
  }
  .myphoto {
    width: 150px;
    margin-left: 40px;
  }
  .name {
    width: 100%;
    text-align: left;
    margin-left: 250px;
    margin-top: 20px;
    color: rgb(212, 193, 193);
  }
  main {
    display: flex;
    width: 100%;
    padding: 0;
    background-color: var(--main-color);
  }
  aside {
    display: flex;
    float: left;
    width: 20%;
    padding: 20px;
    background-color: black;
  }
  .contacts {
    color: white;
    text-align: center;
    padding: 10px;
  } 
  section {
    align-items: baseline;
    width: 80%;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #808080;
    border-color: rgb(51, 49, 49);
  }
  .aboutme {
    display: flex;
    text-align: center;
    font-size: large;
    font-style: italic;
    padding: 10px;
  }
  #code-example {
    position: fixed;
    padding: 10px;
    font-size: 16px;
    text-align: left;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: var(--text-color);
  }
  .footer-year {
    width: 100px;
    text-align: center;
    font-size: 37px;
    line-height: 37px;
    font-weight: bold;
    color: var(--bg-color);
  }
  
  .footer-github > a {
    color: var(--bg-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer-github > a > i {
    margin-right: 10px;
    color: var(--bg-color);
  }
  
  .footer-rsschool > a > img {
    width: 100px;
    position: relative;
    top: 3px;
  }